/* Quita el margen al body de la pagina */
body {
    margin: 0px;
}

.multilineas {
    stroke: blue;
    stroke-width: 1;
    fill: gainsboro
}

.multilineas path {
    stroke: green;
    stroke-width: 5;
    stroke-linejoin: round;
}